<%= form_with(model: budget, local: true, html: {class: 'form-width-400'}) do |form| %>
  <div class="form-group">
    <%= form.select :client_id, options_from_collection_for_select(current_user.clients.all, "id", "name"), {prompt: "Selecciona Cliente"}, {class: 'form-control', required: true} %>
  </div>

  <div class="form-group">
    <%= form.text_field :address, class: 'form-control', placeholder: 'Dirección del Trabajo', required: true %>
  </div>

  <div class="actions">
    <%= form.submit 'Guardar Estimado', class: 'btn btn-lg btn-block btn-primary' %>
  </div>
<% end %>
