<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Estimate:</h1>
    <%= render 'line_items/index', line_items: @budget.line_items %>
  </body>
</html>