<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Estimate from <%= @budget.client.user.company_name %></h1>
    <h3>Address: <%= @budget.address %>

    <table>
      <thead>
        <tr>
          <th>Line Item</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <% line_items.each do |line_item| %>
          <tr>
            <td><%= line_item.description %></td>
            <td><%= number_to_currency line_item.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </body>
</html>